/* TYPE*/

@font-face {
  font-family: 'calibre';
  src: url('../fonts/calibre-regular.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/calibre-reg.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3â€”5 */
}

@font-face {
  font-family: 'calibre-light';
  src: url('../fonts/calibre-light.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/calibre-light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3â€”5 */
}

@font-face {
  font-family: 'calibre-bold';
  src: url('../fonts/calibre-bold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/calibre-bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3â€”5 */
}

/* FADE IN*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


body{
  font-family: 'calibre';
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
  }


.titles {
font-weight: normal;
color: #F0F8FF;
}

a {
    color: #F0F8FF;
    text-decoration: none;
  }
a:hover {
    opacity: 0.80;

  }

#left {
    text-decoration: underline;
    position: fixed;
    font-weight: normal;
    top: 20;
    left: 20;
  }

#right {
    text-decoration: underline;
    position: fixed;
    font-weight: normal;
    top: 20;
    left: 425;
    text-align: right;
  }

.assignments {
  font-family: 'calibre-light';
  font-weight: lighter;
}

#helloworld {
position: fixed;
top: 80;
left: 425;
  }

#patterngenerator {
position: fixed;
top: 120;
left: 425;
    }

#domain {
position: fixed;
top: 160;
left: 425;
    }

#senderreceiver {
position: fixed;
top: 200;
left: 425;
    }
